        h1 {
            color: red;
        }
        li {
            color: green;
        }
        h2 {
            color: purple;
        }
        h3 {
            color: purple;
        }
